.inputStyle{
    display:flex;
    flex-direction: column;
    max-width: 500px;
    gap: 10px;
    margin: auto;
    padding: 25px;
    background: white;
}

.buttonStyle{
    background: rgb(15, 61, 104);
    color: white;
    width: 30%;
    border-radius: 12px;
}

.formStyle{
    background:#292929;
    outline: none;
    border-radius: 12px;
    color: #fff;
}

.textfieldStyle{
    color: white;
    border: 1px solid green;
}

.textStyle{
    color: rgba(9, 11, 122, 0.952)
}

.alertStyle{
    color: red;
}
