.inputStyle{
    display:flex;
    flex-direction: column;
    max-width: 500px;
    gap: 5px;
    margin: auto;
    padding: 25px;

}

.buttonStyle{
    background: rgb(15, 61, 104);
    color: white;
    width: 70%;
    border-radius: 12px;
    font-size: 30px;
}

.formStyle{
    background:#292929;
    outline: none;
    border-radius: 12px;
    color: #fff;
}